@model QuanLyThuVien.Models.NhaXuatBan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card overflow-auto">
        <div class="card-body">
            <h1 class="card-title">Tạo bản ghi</h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.TenNhaXuatBan)
                <div class="col">
                    @Html.EditorFor(model => model.TenNhaXuatBan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenNhaXuatBan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-3">
                <a href="@Url.Action("Index")" class="btn btn-outline-secondary">
                    Quay lại
                </a>
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
