@model QuanLyThuVien.Models.NguoiDung

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Chỉnh sửa bản ghi <strong>@Html.DisplayFor(model => model.TenDangNhap)</strong></h4>

@using (Html.BeginForm("Edit", "NguoiDungs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="card overflow-auto">
    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col mb-3">
                @Html.LabelFor(model => model.TenDangNhap, htmlAttributes: new { @class = "form-label" })
                <div class="col">
                    @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col mb-3">
                @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "form-label" })
                <div class="col">
                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                @Html.LabelFor(model => model.HoDem, htmlAttributes: new { @class = "form-label" })
                <div class="col">
                    @Html.EditorFor(model => model.HoDem, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HoDem, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col mb-3">
                @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "form-label" })
                <div class="col">
                    @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "form-label" })
                <div class="col">
                    @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col mb-3">
                @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { @class = "form-label" })
                <div class="col">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.GioiTinh)
                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "form-label" })
                <div class="col">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col mb-3">
                @Html.LabelFor(model => model.SoDienThoai, htmlAttributes: new { @class = "form-label" })
                <div class="col">
                    @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label" })
                <div class="col">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col mb-3">
                @Html.LabelFor(model => model.AnhDaiDien, htmlAttributes: new { @class = "form-label " })
                <div class="col">
                    <input id="AnhDaiDien" name="AnhDaiDien" type="file" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                @Html.LabelFor(model => model.SoThe, htmlAttributes: new { @class = "form-label" })
                <div class="col">
                    @Html.DropDownList("SoThe", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SoThe, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col"></div>
        </div>

        <div class="col-auto mb-3">
            <a href="@Url.Action("Index")" class="btn btn-outline-secondary">
                Quay lại
            </a>
            <input type="submit" value="Lưu" class="btn btn-primary" />
        </div>
    </div>
 </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
