@{
    ViewBag.Title = "Trang chủ";

    int SoLuongSach = (int)ViewBag.SoLuongSach;
    int SoLuongSachDangMuon = (int)ViewBag.SoLuongSachDangMuon;
}

<div class="row">

    <!-- Left side columns -->
    <div class="col-lg-8">
        <div class="row">

            <!-- Card -->
            <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">

                    <div class="card-body">
                        <h5 class="card-title">Tổng số sách</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi fa fa-book"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@SoLuongSach</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- End Card -->
            <!-- Card -->
            <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">

                    <div class="card-body">
                        <h5 class="card-title">Số sách đang cho mượn</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi fa fa-copy"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@SoLuongSachDangMuon</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- End Card -->
            <!-- Big Card -->
            <div class="col-xxl-4 col-xl-12">

                <!-- Biểu đồ sách theo thể loại -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sách theo thể loại</h5>

                        <div id="bookByCategoryChart" style="min-height: 400px;" class="echart"></div>

                        <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    echarts.init(document.querySelector("#bookByCategoryChart")).setOption({
                                        tooltip: {
                                            trigger: 'item'
                                        },
                                        legend: {
                                            orient: 'horizontal',
                                            align: 'auto',
                                            bottom: 0
                                        },
                                        series: [{
                                            name: 'Số lượng sách thuộc thể loại',
                                            type: 'pie',
                                            radius: '65%',
                                            center: ['50%', '40%'],
                                            emphasis: {
                                                itemStyle: {
                                                    shadowBlur: 10,
                                                    shadowOffsetX: 0,
                                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                }
                                            },
                                            data: JSON.parse('@Html.Raw(@ViewBag.SachTheoTheLoai)')
                                        }]
                                    });
                                });
                        </script>

                    </div>
                </div><!-- End Biểu đồ sách theo thể loại -->

            </div><!-- End Big Card -->
            <!-- Big Card -->
            <div class="col-xxl-4 col-xl-12">

                <!-- Biểu đồ số lượng sách mượn theo thời gian -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Số lượng sách mượn theo thời gian</h5>

                        <div id="bookByBorrowDateChart" style="min-height: 400px;" class="echart"></div>

                        <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    echarts.init(document.querySelector("#bookByBorrowDateChart")).setOption({
                                        tooltip: {
                                            trigger: 'item'
                                        },
                                        xAxis: {
                                            type: 'category',
                                            data: JSON.parse('@Html.Raw(@ViewBag.ThoiGianMuonSach)'),
                                        },
                                        yAxis: {
                                            type: 'value'
                                        },
                                        series: [
                                            {
                                                data: JSON.parse('@Html.Raw(@ViewBag.SachMuonTheoThoiGian)'),
                                                type: 'line'
                                            }
                                        ]
                                    });
                                });
                        </script>

                    </div>
                </div>  <!-- End Biểu đồ số lượng sách mượn theo thời gian -->

            </div><!-- End Big Card -->

        </div>
    </div><!-- End Left side columns -->
    <!-- Right side columns -->
    <div class="col-lg-4">

        <!-- Top 10 sách mượn nhiều -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sách mượn nhiều</h5>
                <ul class="list-group list-group-flush">
                    @foreach (var item in (List<string>)ViewBag.SachMuonNhieu)
                    {
                        <li class="list-group-item px-2">
                            @Html.DisplayFor(_ => item)
                        </li>
                    }
                </ul>
            </div>

        </div>
    </div><!-- End Top 10 sách mượn nhiều -->

</div><!-- End Right side columns -->