@model IEnumerable<QuanLyThuVien.Models.ThongTinMuonSach>

@{
    ViewBag.Title = "Thông tin mượn sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="pagetitle">Thông tin mượn sách</h1>

<div class="card overflow-auto">
    <div class="card-body">
        <h5 class="card-title">Tổng số @Model.Count() bản ghi</h5>
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary rounded-pill mb-3" })
        <table class="table table-borderless datatable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SoThe)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sach_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayMuon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayTra)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TrangThaiMuon_Id)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TheThuVien.SoThe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sach.TieuDe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayMuon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayTra)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrangThaiMuonSach.TrangThaiMuon)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-outline-secondary">
                                <i class="fa fa-pencil"></i>
                            </a>

                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-outline-secondary">
                                <i class="fa fa-info-circle"></i>
                            </a>

                            <button class="btn btn-outline-danger" onclick="getDeleteModal('@item.Id')">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="partial">

</div>
<script>
function getDeleteModal(id) {
    var url = "@Html.Raw(Url.Action("Delete", new { id = "-parameter" }))";
    url = url.replace("-parameter", id);
    $.ajax({
        url: url,
        type: "GET",
        cache: false,
        success: function (result) {
            $("#partial").html(result)
        },
        error: function () {
        }
    });
}
</script>
