@model IEnumerable<QuanLyThuVien.Models.TheThuVien>

@{
    ViewBag.Title = "Thẻ thư viện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="pagetitle">Thẻ thư viện</h1>

<div class="card overflow-auto">
    <div class="card-body">
        <h5 class="card-title">Tổng số @Model.Count() bản ghi</h5>
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary rounded-pill mb-3" })
    <table class="table table-borderless datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SoThe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MatKhauThe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayHetHan)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoThe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatKhauThe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayHetHan)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.SoThe })" class="btn btn-outline-secondary">
                            <i class="fa fa-pencil"></i>
                        </a>

                        <button class="btn btn-outline-danger" onclick="getDeleteModal('@item.SoThe')">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>